{body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

/* Content box */
.container {
  background-color: rgba(0, 0, 0, 0.6); /* Transparent black */
  margin: 100px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
